/*
	Css created for the navbar for my site
	William LaRocque
*/
.whiteText {
	color : rgb(255, 255, 255) !important;
}
.navclass.whiteText:hover {
	color : rgba(255, 255, 255, 0.75) !important;
}
.signed-out a{
	padding-left: 4px !important;
	padding-right: 4px !important;
}
@media (max-width:768px){
	/* this is the width at which the navbar collapses */
	.for-non-collapsed{
		display: none;
	}
}
@media (min-width:768px){
	/* this is the width at which the navbar collapses */
	.for-collapsed{
		display : none;
	}
}