/*
	Css created for the home page for my site
	William LaRocque
*/
.title{
	margin-top: 50px;
	padding-left: 15px;
	padding-top: 15px;
}
.extra-padding{
	padding-left: 30px;
	padding-right: 30px;
}
.bg-white{
	background-color : #ffffff !important;
}
.card {
	border : 2px solid #28a745;
}
.card-header {
	border-top-left-radius : 0px !important;
	border-top-right-radius : 0px !important;
}
.row{
	margin-bottom : 15px;
}