/*
	Css created for the signup page for my site
	William LaRocque
*/
.container-fluid {
	padding-top : 15px;
	padding-right: 30px;
}
@media (max-width:576px){
	/* this is the width for xs in Bootstrap */
	.center-xs {
		display: block;
		text-align: center;
		margin : auto;
	}
	.container-fluid {
		padding-left : 30px;
	} 
}
